.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.taxCalculatorModel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inputModel {
  display: flex;
  gap: 12px;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.outputModel {
  font-size: 16px;
  color: brown;
}

input {
  font-size: 12px;
  background-color: antiquewhite;
  padding: 4px 10px;
  border: 2px solid gray;
}
label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  width: 100px;
  text-align: start;
  padding-bottom: 10px;
}
